<section class="page-header clearfix" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    <div class="container">
        <div class="page-header__inner text-center clearfix">
            <ul class="thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Product</a></li>
            </ul>
            <h2>Products</h2>
        </div>
    </div>
</section>

<section class="services-one">
    <div class="services-one__bg wow slideInDown animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInDown;"></div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="icon">
                <img src="assets/images/resources/sec-title-icon1.png" alt="">
            </div>
            <span class="sec-title__tagline">What we’re doing</span>
            <h2 class="sec-title__title">Products We Offer</h2>
        </div>
        <div class="row">
            <!--Start Single Services One-->
            <div class="col-xl-4 col-lg-6 wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                <div class="services-one__single">
                    <div class="services-one__single-img">
                        <div class="services-one__single-img-inner">
                            <img src="assets/images/project/projects-v1-img1.jpg" alt="">
                        </div>
                        <div class="services-one__single-img-icon">
                            <span class="icon-agriculture"></span>
                        </div>
                    </div>
                    <div class="services-one__single-content text-center">
                        <h3><a href="cocofiber.html">Coconut Coir Fiber</a></h3>
                        <a href="cocofiber.html" class="read-more-btn"><span class="icon-right-arrow-2"></span></a>
                    </div>
                </div>
            </div>
            <!--End Single Services One-->

            <!--Start Single Services One-->
            <div class="col-xl-4 col-lg-6 wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                <div class="services-one__single">
                    <div class="services-one__single-img">
                        <div class="services-one__single-img-inner">
                            <img src="assets/images/project/projects-v1-img5.jpg" alt="">
                        </div>
                        <div class="services-one__single-img-icon">
                            <span class="icon-harvest"></span>
                        </div>
                    </div>
                    <div class="services-one__single-content text-center">
                        <h3><a href="cocopith.html">Coir coco pith</a></h3>
                        <a href="cocopith.html" class="read-more-btn"><span class="icon-right-arrow-2"></span></a>
                    </div>
                </div>
            </div>
            <!--End Single Services One-->

            <!--Start Single Services One-->
            <div class="col-xl-4 col-lg-6 wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInRight;">
                <div class="services-one__single">
                    <div class="services-one__single-img">
                        <div class="services-one__single-img-inner">
                            <img src="assets/images/project/projects-v1-img2.jpg" alt="">
                        </div>
                        <div class="services-one__single-img-icon">
                            <span class="icon-growth"></span>
                        </div>
                    </div>
                    <div class="services-one__single-content text-center">
                        <h3><a href="growbag.html">Grow Bag</a></h3>
                        <a href="growbag.html" class="read-more-btn"><span class="icon-right-arrow-2"></span></a>
                    </div>
                </div>
            </div>
            <!--End Single Services One-->

            <!--Start Single Services One-->
            <div class="col-xl-4 col-lg-6 wow fadeInRight animated" data-wow-delay="100ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInRight;">
                <div class="services-one__single">
                    <div class="services-one__single-img">
                        <div class="services-one__single-img-inner">
                            <img src="assets/images/project/projects-v1-img3.jpg" alt="">
                        </div>
                        <div class="services-one__single-img-icon">
                            <span class="icon-dairy-products"></span>
                        </div>
                    </div>
                    <div class="services-one__single-content text-center">
                        <h3><a href="huskchips.html">Husk Chips</a></h3>
                        <a href="huskchips.html" class="read-more-btn"><span class="icon-right-arrow-2"></span></a>
                    </div>
                </div>
            </div>
            <!--End Single Services One-->

            <!--Start Single Services One-->
            <div class="col-xl-4 col-lg-6 wow fadeInRight animated" data-wow-delay="100ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInRight;">
                <div class="services-one__single">
                    <div class="services-one__single-img">
                        <div class="services-one__single-img-inner">
                            <img src="assets/images/project/projects-v1-img4.jpg" alt="">
                        </div>
                        <div class="services-one__single-img-icon">
                            <span class="icon-dairy-products"></span>
                        </div>
                    </div>
                    <div class="services-one__single-content text-center">
                        <h3><a href="coconut.html">Coconut</a></h3>
                        <a href="coconut.html" class="read-more-btn"><span class="icon-right-arrow-2"></span></a>
                    </div>
                </div>
            </div>
            <!--End Single Services One-->
        </div>
    </div>
</section>