<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">25</h1>
                            <small class="fs-5 fw-bold">Years of Excellence</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <img class="img-fluid rounded" src="milk\img\milk-coir-1.png">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <img class="img-fluid rounded" src="milk\img\milk-coir-2.png">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                        <img class="img-fluid rounded" src="milk\img\milk-coir-3.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                <h1 class="mb-4">Learn About Our Coir Products & Heritage</h1>
                <p class="mb-4">With a deep-rooted commitment to sustainability, our coir products are crafted from 100% natural fibers, ensuring quality and durability that lasts. Join us on our journey towards a greener planet.</p>
                <div class="row g-5 pt-2 mb-5">
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="milk/img/service.png" alt="">
                        <h5 class="mb-3">Custom Coir Solutions</h5>
                        <span>Tailored coir products to meet your unique needs. From doormats to garden accessories, crafted just for you.</span>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="milk/img/product.png" alt="">
                        <h5 class="mb-3">Eco-Friendly Products</h5>
                        <span>Our coir products are made from sustainably sourced natural fibers, perfect for your eco-conscious lifestyle.</span>
                    </div>
                </div>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Explore More</a>
            </div>
        </div>
    </div>
</div>
