

    <!-- Banner Start -->
    <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="milk\img\milk-banner_1.png">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="milk/img/milk-banner-1.png" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">We Provide High-Quality Coir Products</h2>
                            <p class="text-white mb-4">Perfect for gardening and eco-friendly solutions, our coir products improve soil aeration and water retention.</p>
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="milk/img/milk-banner-2.png" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">We Deliver Sustainable Coir Solutions Worldwide</h2>
                            <p class="text-white mb-4">Explore our range of biodegradable coir products, including grow bags and coir fiber for eco-conscious customers.</p>
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
