<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <p class="section-title bg-white text-center text-primary px-3">Testimonial</p>
            <h1 class="mb-5">What People Say About Our Dairy Farm</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="testimonial-img">
                    <img class="img-fluid animated pulse infinite" src="milk/img/testimonial-1.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="milk/img/testimonial-2.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="milk/img/testimonial-3.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="milk/img/testimonial-4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="owl-carousel testimonial-carousel owl-loaded owl-drag">
                    
                    
                    
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3154px, 0px, 0px); transition: 1s; width: 5048px;"><div class="owl-item cloned" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-3.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item cloned" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-4.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-1.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-2.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-3.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item active" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-4.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item cloned" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-1.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div><div class="owl-item cloned" style="width: 630.984px;"><div class="testimonial-item">
                        <img class="img-fluid mb-3" src="milk/img/testimonial-2.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="bi bi-chevron-left"></i></div><div class="owl-next"><i class="bi bi-chevron-right"></i></div></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
</div>