<div class="page-wrapper">
<header class="main-header main-header--one  clearfix">
    <div class="main-header--one__wrapper">
        <div class="main-header--one__top clearfix">
            <div class="auto-container">

                <div class="main-header--one__top-left">
                    <div class="text">
                        <p>Welcome to Satyam Coir Products</p>
                    </div>
                    <div class="social-link clearfix">
                        <ul>
                            <li><a href="https://twitter.com/satyamcoir?lang=en" previewlistener="true"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://in.linkedin.com/in/satyam-coir-products-11a74b73" previewlistener="true"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="main-header--one__top-right clearfix">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="text">
                                <p><a href="mailto:satyamcoirproducts@gmail.com">satyamcoirproducts@gmail.com</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <div class="text">
                                <p>Mon - Sat 8:00 AM - 6:30 PM, Sunday - CLOSED</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-header--one__bottom clearfix">
            <div class="auto-container">
                <div class="main-header--one__bottom-inner">
                    <nav class="main-menu main-menu--1">
                        <div class="main-menu__inner">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                            <div class="stricky-one-logo">
                                <div class="logo">
                                    <a href="index.html" previewlistener="true">
                                        <img class="dark-logo" src="assets/images/resources/logo-1.png" alt="">
                                        <img class="light-logo" src="assets/images/resources/logo-2.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="main-header--one__bottom-left">
                                <ul class="main-menu__list">
                                    <li class="active">
                                        <a href="index.html" previewlistener="true">Home</a>
                                    </li>
                                    <li><a href="about.html" previewlistener="true">About</a></li>
                                    <li class="dropdown">
                                        <a href="product.html" previewlistener="true">Our Products</a>
                                        <ul>
                                            <li><a href="cocofiber.html" previewlistener="true">Coconut Coir Fiber</a></li>
                                            <li><a href="cocopith.html" previewlistener="true">Coir coco pith </a>
                                            </li>
                                            <li><a href="growbag.html" previewlistener="true">Grow Bag</a></li>
                                            <li><a href="huskchips.html" previewlistener="true">Husk Chips</a></li>
                                            <li><a href="coconut.html" previewlistener="true">Coconut</a></li>
                                        </ul>
                                    </li>
                                    <li class="current"><a href="contact.html" previewlistener="true">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="main-header--one__bottom-middel">
                        <div class="logo">
                            <a href="index.html" previewlistener="true">
                                <img class="dark-logo" src="assets/images/resources/logo-1.png" alt="">
                                <img class="light-logo" src="assets/images/resources/logo-2.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="main-header--one__bottom-right clearfix">
                        <div class="contact-box">
                            <div class="icon">
                                <span class="icon-phone-call-2"></span>
                            </div>
                            <div class="text">
                                <p>Call Anytime</p>
                                <a href="tel:+919842229484">9842229484</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
</div>