<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <p class="section-title bg-white text-start text-primary pe-3">Why Choose Us?</p>
                <h1 class="mb-4">Here’s Why Our Clients Trust Us!</h1>
                <p class="mb-4">At RV Coir Company, we are committed to providing only the highest quality coconut and coir products. Our rigorous quality control processes ensure that our products meet and exceed international standards.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Stringent Quality Control</p>
                <p><i class="fa fa-check text-primary me-3"></i>International Standards Compliance</p>
                <p><i class="fa fa-check text-primary me-3"></i>Unmatched Customer Satisfaction</p>
                <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Learn More</a>
            </div>
            <div class="col-lg-6">
                <div class="rounded overflow-hidden">
                    <div class="row g-0">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="milk/img/experience.png" alt="Years of Experience">
                                <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Years of Experience</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="milk/img/award.png" alt="Awards Received">
                                <h1 class="display-6" data-toggle="counter-up">183</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Awards Received</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                            <div class="text-center bg-secondary py-5 px-4">
                                <img class="img-fluid mb-4" src="milk/img/products.png" alt="Products Delivered">
                                <h1 class="display-6" data-toggle="counter-up">2619</h1>
                                <span class="fs-5 fw-semi-bold text-primary">Products Delivered</span>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
                            <div class="text-center bg-primary py-5 px-4">
                                <img class="img-fluid mb-4" src="milk/img/client.png" alt="Happy Clients">
                                <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
