<section class="page-header clearfix" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    <div class="container">
        <div class="page-header__inner text-center clearfix">
            <ul class="thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html">Product</a></li>
            </ul>
            <h2>Coconut Coir Fiber</h2>
        </div>
    </div>
</section>

<section class="services-details">
    <div class="container">
        <div class="row">
            <!--Start Services Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="services-details__sidebar">
                    <!--Start Services Details Sidebar Single-->
                    <div class="services-details__sidebar-single">
                        <div class="services-details__sidebar-single-services wow fadeInUp animated animated animated animated" data-wow-delay="0.1s" data-wow-duration="1200m" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <div class="title">
                                <h3>All Products</h3>
                            </div>
                            <ul>
                                <li class="current"><a href="cocofiber.html">Coconut Coir Fiber<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="cocopith.html">Coir coco pith<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="growbag.html">Grow Bag<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="huskchips.html">Husk Chips<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="coconut.html">Coconut<i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Services Details Sidebar Single-->

                    <!--Start Services Details Sidebar Single-->
                    <div class="services-details__sidebar-single">
                        <div class="services-details__sidebar-single-contact-box text-center wow fadeInUp animated animated animated animated" data-wow-delay="0.3s" data-wow-duration="1200m" style="background-image: url(&quot;assets/images/resources/services-details-contact-box-bg.jpg&quot;); visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="icon">
                                <span class="icon-phone-call-2"></span>
                            </div>
                            <div class="title">
                                <h2>Selling <br>Coir<br> products</h2>
                            </div>
                            <p class="phone"><a href="tel:+919842229484">9842229484</a></p>
                            <p>Call Us Anytime</p>
                        </div>
                    </div>
                    <!--End Services Details Sidebar Single-->

                    <!--Start Services Details Sidebar Single-->
                    <div class="services-details__sidebar-single">
                        <div class="services-details__sidebar-single-btn text-center wow fadeInUp animated animated animated animated" data-wow-delay="0.5s" data-wow-duration="1200m" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <a href="#" class="thm-btn"><span class="icon-pdf"></span> download pdf file</a>
                        </div>
                    </div>
                    <!--End Services Details Sidebar Single-->
                </div>
            </div>
            <!--End Services Details Sidebar-->

            <!--Start Services Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="services-details__content">
                    <div class="services-details__content-img">
                        <img src="assets/images/resources/services-details-content-agriculture.jpg" alt="">
                    </div>
                    <h2 class="services-details__content-title">Coconut Coir Fiber</h2>
                    <p class="services-details__content-text1">A coir compressed bale represents a high-quality aggregation of coconut coir fibers. These fibers are meticulously extracted, sun-dried, and carefully graded for optimal quality. The compression process, which results in a bale weighing approximately 150 kilograms, ensures density and uniformity. This superior quality bale is well-suited for horticulture, erosion control, and diverse manufacturing applications, delivering reliability and eco-friendliness due to its sustainable coconut husk origin.</p>

                </div>
            </div>
            <!--End Services Details Content-->
        </div>
    </div>
</section>