        <!--Start Footer One-->
        <footer class="footer-one">
            <div class="footer-one__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__top-wrapper">
                                <div class="footer-one__bg"><img src="assets/images/backgrounds/footer-one-bg.png" alt="" /></div>
                                <div class="row">
                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                        <div class="footer-widget__column footer-widget__about">
                                            <div class="footer-widget__about-logo">
                                                <a href="index.html"><img
                                                        src="assets/images/resources/rvtraders.jpeg"  style="width: 210px;" alt=""></a>
                                            </div>
                                            <div class="footer-widget__about-contact-box">
                                                <p class="phone"><a href="tel:+911234512345"><i
                                                            class="fas fa-phone-square-alt"></i>12345 12345</a> , <a href="tel:+911234512345"><i
                                                            class="fas fa-phone-square-alt"></i>12345 12345</a>
                                                </p>
                                                <p><a href="mailto:rvcoirproducts@gmail.com"><i class="fa fa-envelope"></i>rvcoirproducts@gmail.com</a></p>
                                                <p class="text">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    No. 9713, Perumalkoil Thottam,<br>
                                                    Sundakkampalayam, Ragalbavi SF,<br>
                                                    PO Udumalpet TK,<br>
                                                    Tamil Nadu 642205, India
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                        <div class="footer-widget__column footer-widget__explore">
                                            <h2 class="footer-widget__title">Explore</h2>
                                            <ul class="footer-widget__explore-list">
                                                <li class="footer-widget__explore-list-item"><a href="index.html">Home</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="about.html">About</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="about.html">Our Products</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="contact-us.html">Contact</a></li>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->
                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s">
                                        <div class="footer-widget__column footer-widget__explore">
                                            <h2 class="footer-widget__title">Products</h2>
                                            <ul class="footer-widget__explore-list">
                                                <li class="footer-widget__explore-list-item"><a href="cocofiber.html">Coconut Coir Fiber</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="cocopith.html">Coir coco pith</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="growbag.html">Grow Bag</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="huskchips.html">Husk Chips</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="coconut.html">Coconut</a></li>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.028676734312!2d77.21787151270291!3d10.586381927266691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba9cce0860e587b%3A0x483057231f5cd1a0!2sR.V.%20Traders!5e0!3m2!1sen!2sin!4v1724352941280!5m2!1sen!2sin" 
                                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                    <!--End Footer Widget Column-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Start Footer One Bottom-->
            <div class="footer-one__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__bottom-inner">
                                <div class="footer-one__bottom-text">
                                    <p>&copy; Copyright 2025 RV COIRS Developed by <a href="https://auroraitech.com/">Nil</a></p>
                                </div>
                                <div class="footer-one__bottom-social-links">
                                    <ul>
                                        <li><a href="https://twitter.com/RVcoir?lang=en"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://in.linkedin.com/in/RV-coir-products-11a74b73"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer One Bottom-->
        </footer>
        <!--End Footer One-->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="index.html" aria-label="logo image"><img src="assets/images/resources/rvtraders.jpeg"  style="width: 300px;"
                    width="155" alt="" /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-phone-call"></i>
                <a href="tel:+919842229484">12345 12345</a>
            </li>
            <li>
                <i class="icon-phone-call"></i>
                <a href="tel:+919488803636">12345 12345</a>
            </li>
        </ul>
        <!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="https://twitter.com/RVcoir?lang=en" class="fab fa-twitter"></a>
                <a href="https://in.linkedin.com/in/RV-coir-products-11a74b73" class="fab fa-linkedin"></a>
            </div>
            <!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__top -->
    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->


