<section class="main-slider main-slider-one">
    <div class="swiper-container thm-swiper__slider swiper-container-fade swiper-container-initialized swiper-container-horizontal" data-swiper-options="{&quot;slidesPerView&quot;: 1, &quot;loop&quot;: true, &quot;effect&quot;: &quot;fade&quot;, &quot;pagination&quot;: {
    &quot;el&quot;: &quot;#main-slider-pagination&quot;,
    &quot;type&quot;: &quot;bullets&quot;,
    &quot;clickable&quot;: true
    },
    &quot;navigation&quot;: {
    &quot;nextEl&quot;: &quot;#main-slider__swiper-button-next&quot;,
    &quot;prevEl&quot;: &quot;#main-slider__swiper-button-prev&quot;
    },
    &quot;autoplay&quot;: {
    &quot;delay&quot;: 7000
    }}">

        <div class="swiper-wrapper" style="transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 1066px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                <div class="image-layer" style="background-image: url(assets/images/backgrounds/main-slider-v1-3.jpg);"></div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider-inner">
                                <div class="main-slider__content">
                                    <span class="main-slider-tagline">We’re producing the best</span>
                                    <h2 class="video-one__title">The magic of coir - <span>Grow more <br>worry less</span></h2>
                                </div>
                                <div class="main-slider__button-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start Single Swiper Slide-->
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 1066px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1066px, 0px, 0px);">
                <div class="image-layer" style="background-image: url(assets/images/backgrounds/main-slider-v1-1.jpg);"></div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider-inner">
                                <div class="main-slider__content">
                                    <h2 class="video-one__title">Welcome to <br> RV Coir <span>Products</span></h2>
                                    <p class="main-slider__text">Our journey begins with a commitment to crafting perfection through innovation</p>
                                </div>
                                
                                <div class="main-slider__button-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Swiper Slide-->

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 1066px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2132px, 0px, 0px);">
                <div class="image-layer" style="background-image: url(assets/images/backgrounds/main-slider-v1-2.jpg);"></div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider-inner">
                                <div class="main-slider__content">
                                    <span class="main-slider-tagline">Eco-friendly and sustainable</span>
                                    <h2 class="video-one__title">Crafted by nature - <span>Embrace green <br>live better</span></h2>
                                </div>
                                
                                <div class="main-slider__button-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Swiper Slide-->

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 1066px; transition-duration: 0ms; opacity: 0; transform: translate3d(-3198px, 0px, 0px);">
                <div class="image-layer" style="background-image: url(assets/images/backgrounds/main-slider-v1-3.jpg);"></div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider-inner">
                                <div class="main-slider__content">
                                    <span class="main-slider-tagline">Handcrafted with care</span>
                                    <h2 class="video-one__title">Inspired by tradition - <span>Quality that <br>endures</span></h2>
                                </div>
                                
                                
                                <div class="main-slider__button-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Swiper Slide-->
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 1066px; transition-duration: 0ms; opacity: 0; transform: translate3d(-4264px, 0px, 0px);">
                <div class="image-layer" style="background-image: url(assets/images/backgrounds/main-slider-v1-1.jpg);"></div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-slider-inner">
                                <div class="main-slider__content">
                                    <h2 class="video-one__title">Welcome to <br> RV Coir <span>Products</span></h2>
                                    <p class="main-slider__text">Our journey begins with a commitment to crafting perfection through innovation</p>
                                </div>
                                
                                <div class="main-slider__button-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" id="main-slider-pagination"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>

        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
                <span class="icon-right-arrow-2"></span>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                <span class="icon-right-arrow-2"></span>
            </div>
        </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>