<section class="page-header clearfix" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    <div class="container">
        <div class="page-header__inner text-center clearfix">
            <ul class="thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
            <h2>About Us</h2>
        </div>
    </div>
</section>

<section class="about-three">
    <div class="about-three__shape"></div><!-- /.about-three__shape -->
    <div class="container">
        <div class="row">
            <!--Start About Three Content Box-->
            <div class="col-xl-6 col-lg-7">
                <div class="about-three__content-box">
                    <div class="sec-title">
                        <div class="icon">
                            <img src="assets/images/resources/sec-title-icon1.png" alt="">
                        </div>
                        <span class="sec-title__tagline">Welcome to</span>
                        <h2 class="sec-title__title">RV Coir Products</h2>
                    </div>
                    <div class="about-three__content-box-inner">
                        <p>Welcome to RV Coir Products, where innovation meets tradition in the heart of Pollachi, the coconut capital of the Tamil Nadu, India. We take immense pride in being an emerging manufacturer and exporter of international-quality coconut fiber crafting nature's bounty into products that transcend borders.</p><br>

                        <h2>Our Commitments</h2>
                        <p>At RV Coir Products, quality isn't just a standard; it's a commitment to excellence. We meticulously handpick the finest coconut fibers and employ state-of-the-art techniques to ensure our products meet the highest international standards. Our dedication to supreme and premium quality is the cornerstone of our success.</p>
                    </div>
                    
                </div>
            </div>
            <!--End About Three Content Box-->

            <!--Start About Three Img Box-->
            <div class="col-xl-6 col-lg-5">
                <div class="about-three__img-box">
                    <img src="assets/images/resources/about-3-icon-1-1.png" class="about-three__img-icon" alt="">
                    <div class="about-three__img-box-img">
                        <div class="about-three__img-box-img-inner">
                            <img src="assets/images/about/about-v3-img1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--End About Three Img Box-->
        </div>
    </div>
</section>

<section class="team-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="team-details__image wow fadeInLeft animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInLeft;">
                    <img src="assets/images/resources/sixsig.jpg" alt="">
                    <div class="team-details__logo">
                        <img src="assets/images/update-20-12-2021/resources/team-d-logo.png" alt="">
                    </div><!-- /.team-details__logo -->
                </div><!-- /.team-details__image -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="team-details__content">
                    <h3 class="team-details__name">Six Sigma Technique for Quality Assurance 
                    </h3><!-- /.team-details__name -->
                    <p class="team-details__highlight">Precision is our mantra. We adhere to the Six Sigma technique,</p>
                    <!-- /.team-details__highlight -->
                        <div class="projects-details__text-box2-list">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <p>A symbol of our unwavering commitment to perfection.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <p>Every step of our manufacturing process is scrutinized and refined to eliminate defects.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <p>Ensuring that our coir products are not just good but exceptional.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>  
                    <div class="projects-details__text-box1">
                        <h2>Quality is Our Culture</h2>
                        <p class="text1">RV Coir Products is not just a manufacturer; we are curators of nature's wonders, transforming coconut fibers into works of art that find their way into homes and industries worldwide. Join us on a journey where tradition meets innovation, and quality is not just a standard but a way of life.</p>
                    </div>

                </div><!-- /.team-details__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="projects-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="projects-details__wrapper">

                    <div class="projects-details__text-box1">
                        <h2>Customer Satisfaction</h2>
                        <p class="text1">Your satisfaction is our driving force. We believe in building lasting relationships with our customers by understanding their needs and surpassing their expectations. At RV Coir Products, we don't just deliver products; we deliver experiences that leave our customers delighted and coming back for more.</p>
                        <h2>Well Equipped Machineries</h2>
                        <p class="text2">Our commitment to excellence is mirrored in our cutting-edge machinery. We have invested in state-of-the-art equipment to process coconut fibers and create coir products that stand out in terms of quality and durability. Innovation is woven into every strand of coir we produce.</p>
                        <br>
                        <h2>Highly Qualified Staffs</h2>
                        <p class="text2">Behind every high-quality product is a team of highly qualified individuals. Our staff is not just a workforce; they are artisans of coir, passionate about their craft. Their expertise and dedication ensure that every product leaving our facility is a testament to our commitment to excellence.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

