<section class="page-header clearfix" style="background-image: url(assets/images/backgrounds/contact-bg.jpg);">
    <div class="container">
        <div class="page-header__inner text-center clearfix">
            <h2>Contact Us</h2>
            <div class="bar-heading"></div>
            <p class="text-white">
                "We're here to assist you with any inquiries or support you may need. Reach out to us, and we'll get back to you as soon as possible."
            </p>
            <ul class="thm-breadcrumb" style="margin-top: 20px;">
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
        
    </div>
</section>
<section class="contact-page-google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.028676734312!2d77.21787151270291!3d10.586381927266691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba9cce0860e587b%3A0x483057231f5cd1a0!2sR.V.%20Traders!5e0!3m2!1sen!2sin!4v1724352941280!5m2!1sen!2sin"  class="contact-page-google-map__one" allowfullscreen=""></iframe>
</section>

       
               
                      <div class="contact_us_green">
                        <div class="responsive-container-block big-container">
                            <div class="responsive-container-block container">
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
                                    <form action="#" class="comment-one__form contact-form-validated" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="text" placeholder="Your name" name="name">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="email" placeholder="Email address" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="text" placeholder="Phone number" name="phone">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="email" placeholder="Subject" name="Subject">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12">
                                                <div class="comment-form__input-box">
                                                    <textarea name="message" placeholder="Write message"></textarea>
                                                </div>
                                                <button type="submit" class="thm-btn comment-form__btn">Send a message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                
                    
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
                  <div class="container-box">
                    <div class="text-content">
                      <p class="text-blk contactus-head">
                        Contact us
                      </p>
                      <p class="text-blk contactus-subhead">
                        Have questions about our coir products or need assistance? We're here to help! Contact us today, and we'll respond promptly. Your satisfaction is our top priority.
                      </p>
                    </div>
                    <div class="workik-contact-bigbox">
                      <div class="workik-contact-box">
                        <div class="phone text-box">
                          <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg">
                          <p class="contact-text">
                            +1258 3258 5679
                          </p>
                        </div>
                        <div class="address text-box">
                          <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
                          <p class="contact-text">
                            hello@workik.com
                          </p>
                        </div>
                        <div class="mail text-box">
                          <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg">
                          <p class="contact-text">
                            102 street, y cross 485656
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    

