<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 shadow-sm" style="top: 0px;">
    <a href="index.html" class="navbar-brand d-flex align-items-center">
        <h1 class="m-0">RV Coirs</h1>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about-us.html" class="nav-item nav-link">About</a>
            <a href="our-products.html" class="nav-item nav-link">Our Products</a>
            <a href="contact-us.html" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content">

    </div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->