
<header class="main-header main-header--one  clearfix">
    <div class="main-header--one__wrapper">
        <div class="main-header--one__top clearfix">
            <div class="auto-container">

                <div class="main-header--one__top-left">
                    <div class="text mt-2">
                        <p>Welcome to RV Coir Products</p>
                    </div>
                </div>

                <div class="main-header--one__top-right clearfix">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="text">
                                <p><a href="mailto:rvcoirproducts@gmail.com">rvcoirproducts@gmail.com</a></p>
                            </div>
                        </li>
                        <li>
                                <div class="icon">
                                    <span class="icon-phone-call-2"></span>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+911234567890">1234567890</a></p>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-header--one__bottom clearfix">
            <div class="auto-container">
                <div class="main-header--one__bottom-inner">
                    <div class="main-header">
                        <div class="logo">
                            <a href="index.html">
                                <img class="dark-logo" src="assets/images/resources/rvtraders.jpeg"  style="width: 210px;" alt="">
                                <img class="light-logo" src="assets/images/resources/rvtraders.jpeg"  style="width: 210px;" alt="">
                            </a>
                        </div>
                    </div>
                    <nav class="main-menu main-menu--1">
                        <div class="main-menu__inner">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                            <div class="stricky-one-logo">
                                <div class="logo">
                                    <a href="index.html">
                                        <img class="dark-logo" src="assets/images/resources/rvtraders.jpeg" alt="" style="width: 210px;">
                                        <img class="light-logo" src="assets/images/resources/rvtraders.jpeg" alt="" style="width: 210px;">
                                    </a>
                                </div>
                            </div>

                            <div class="main-header--one__bottom-left">
                                <ul class="main-menu__list">
                                    <li class="active">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li><a href="about-us.html">About</a></li>
                                    <li class="dropdown">
                                        <a href="our-products.html">Our Products</a>
                                        <ul>
                                            <li><a href="our-products-1.html">Coconut Coir Fiber</a></li>
                                            <li><a href="our-products-1.html">Coir coco pith</a>
                                            </li>
                                            <li><a href="our-products-1.html">Grow Bag</a></li>
                                            <li><a href="our-products-1.html">Husk Chips</a></li>
                                            <li><a href="our-products-1.html">Coconut</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content">

    </div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->